<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Python39\python.exe|D:\Python39\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <!-- First rule redirects unauthenticated requests to Azure AD login -->
        <rule name="Redirect to Azure AD login" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="^/.auth/" negate="true" />
            <add input="{HTTP_COOKIE}" pattern="AppServiceAuthSession" negate="true" />
          </conditions>
          <action type="Redirect" url="/.auth/login/aad" />
        </rule>
        <!-- Second rule handles all other requests -->
        <rule name="Flask Application" stopProcessing="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="app.py/{R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
